@import '../../../common/styles/variables';

  .project {
    position: relative;
    border-radius: 10px;
    min-height: 250px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;

    &:hover .information {
      opacity: 1;
    }

    .information {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      transition: .5s ease;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 5px;
      color: white;
      background-color: $secondaryTextColor;

      .dataBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 0 10px;

        .dataTitle {
          font-family: $primaryFont;
          color: black;
          margin-right: 5px;
        }
        .dataValue {
          font-family: $primaryFont;
          font-size: 14px;
        }
      }

      .title {
        font-size: 30px;
        font-family: $primaryFont;
      }

      .links {
        font-family: $primaryFont;
        color: white;
        text-decoration: underline;
        opacity: .5;

        &:hover {
          color: white;
          opacity: 1;
        }
      }
    }
  }

