@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.container {
  user-select: none;
  position: relative;
  cursor: pointer;
  margin: 20px 30px;
  padding: 15px 20px;
  border-radius: 50px;
  height: 65px;
  background-color: rgba(255, 255, 255, .1);
  transition: .3s ease;

  @media (max-width: 1025px) {
    display: none;
  }

  .line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    margin: 6px auto;
    transition: 0.3s ease;
    background-color: white;
  }

  .menuWrapper {
    user-select: none;
    display: none;
    list-style: none;

    .homeIconWrapper, .skillsIconWrapper, .contactsIconWrapper, .portfolioIconWrapper {
      margin: 26px 0;
      user-select: none;

      .menuIcon {
        width: 25px;
        height: 18px;

        &:hover {
          color: #2196F3;
        }
      }
    }

    .home, .about, .contacts, .portfolio {
      color: $primaryTextColor;
      position: absolute;
      font-family: $primaryFont;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .show.menuWrapper {
    display: block;

    .showNav {
      &.home, &.about, &.contacts, &.portfolio {
        left: 80px;
        transition: .5s ease;
      }

      &:hover {
        color: $secondaryTextColor;
        left: 85px;
      }
    }

  }


  .home {
    top: 67px;

    &:hover ~ .homeIconWrapper:after {
      @include menuLinesHover;
    }
  }

  .about {
    top: 114px;

    &:hover ~ .skillsIconWrapper:after {
      @include menuLinesHover;
    }
  }

  .contacts {
    top: 160px;

    &:hover ~ .contactsIconWrapper:after {
      @include menuLinesHover;
    }
  }

  .portfolio {
    top: 207px;

    &:hover ~ .portfolioIconWrapper:after {
      @include menuLinesHover;
    }
  }


}

.change.container {
  height: 265px;
  transition: .3s ease;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

// CSS FOR MOBILE MENU
.mobileMenu {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  //border: 1px solid red;

  @media (min-width: 1025px) {
    display: none;
  }

  .menuItems {
    margin: 0 10px;
    height: 30%;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 720px) {
      width: 40%;
      height: 45%;
    }

    .menuItemIconMobile {
      width: 200px;
      height: 50px;
    }

    .title {
      font-size: 28px;
      font-weight: 600;
      font-family: $primaryFont;
      text-transform: uppercase;
      color: #fff;
    }
  }
}