@import './variables';

@mixin menuLineHover {
  content: '';
  position: absolute;
  border: 4px solid $secondaryTextColor;
  height: 15px;
  margin-left: 18px;
  border-left: 0;
  border-radius: 10px;
  color: $secondaryTextColor;
  transition: .5s ease;
}

@mixin aboutTitleLines {
  background-color: #2196F3;
  position: absolute;
  content: '';
  height: 2px;
  top: 11px;
  width: 30px;
}