@import './variables';

@mixin menuLinesHover {
  content: '';
  position: absolute;
  border: 4px solid $secondaryTextColor;
  height: 15px;
  margin-left: 18px;
  border-left: 0;
  border-radius: 10px;
  color: $secondaryTextColor;
  transition: .5s ease;
}

@mixin aboutTitleLines {
  background-color: #2196F3;
  position: absolute;
  content: '';
  height: 2px;
  top: 11px;
  width: 30px;

  @media (max-width: 550px) {
    display: none;
  }
}

@mixin chapterTitle {
  text-align: left;
  color: #fff;
  font-size: 23px;
  font-family: $primaryFont;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 50px;

  @media (max-width: 1025px) {
    text-align: center;
  }
}

@mixin hoverIconMenu($parent) {
  &:hover ~ .homeIconWrapper .menuIcon {
    color: $secondaryTextColor;
    left: 85px;
  }
}