@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.wrapper {
  height: 100%;
  width: 65%;

  @media (max-width: 1025px) {
    width: 100%;
  }


  // MAIN BLOCK
  .main {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;

    @media (max-width: 1290px) {
      gap: 30px;
      flex-direction: column;
    }

    .myPhoto {
      position: relative;
      display: block;
      width: 40%;
      height: 440px;
      object-fit: cover;
      background: url('../../common/images/my_photo.webp') center no-repeat;
      background-size: cover;

      @media (max-width: 1290px) {
        width: 50%;
        height: 250px;
      }

      &:before {
        border: 6px solid #2196F3;
        display: block;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translate3d(26px, 26px, -26px);
      }
    }

    .aboutMe {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      .btnWrapper {
        margin-top: 40px;

        & a {
          color: white;
        }
      }

      @media (max-width: 620px) {
        width: 100%;
      }

      .dataList {
        display: flex;
        padding-top: 50px;
        gap: 40px;

        @media (max-width: 580px) {
          flex-direction: column;
          align-items: center;
        }

        .dataBlock {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          gap: 10px;
          font-family: $secondaryFont;
          font-weight: 500;
          font-size: 16px;

          .dataContainer {
            display: flex;
            gap: 15px;
          }

          .dataName {
            width: 90px;
            color: #fff;
            opacity: .8;
            font-weight: 400;
          }

          .dataValue {
            display: inline-block;
            color: #fff;
            width: 140px;
          }
        }
      }

      .downloadButton {
        width: 250px;
      }
    }
  }

  .lineDelimiter {
    margin: 72px auto 50px;
    background-color: #555;
    opacity: .1;
  }


  // EXPERIENCE
  .experience {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin-left: 10px;
    }

    .chapterTitle {
      @include chapterTitle
    }

    .blockExp {
      .works {
        position: relative;
        margin-left: 20px;

        &:before {
          content: '';
          height: 100%;
          left: -14px;
          opacity: .6;
          position: absolute;
          border-left: 1px solid $secondaryTextColor;
        }
      }
    }
  }

  .skills {
    margin: 50px 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 1025px) {
      align-items: center;
    }

    .chapterTitle {
      @include chapterTitle
    }
  }
}





