@import '../../../common/styles/variables';

.skillBar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 70%;
  color: #fff;
  font-family: $primaryFont;
  font-size: 14px;

  .skill {
    background-color: $secondaryTextColor;
    padding: 2px 10px;
    border-radius: 20px;
    transition: .5s ease;

    &:hover {
      user-select: none;
      background-color: gray;
    }
  }
}