@import '../../common/styles/variables';

.wrapper {
  height: 100%;
  width: 60%;

  @media (max-width: 1025px) {
    width: 100%;
  }

  .main {
    display: flex;
    gap: 50px;
    color: #fff;

    @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .leftBlock {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      @media (max-width: 1025px) {
        order: 2;
        margin: 40px 0;
      }

      .dataContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 1025px) {
          align-items: center;
          align-self: center;
        }

        .socialIconsWrapper {
          margin-top: 10px;
          display: flex;
          gap: 10px;

          .socialIcon {
            width: 35px;
            height: 35px;
            border: 1px solid $secondaryTextColor;
            border-radius: 50%;
            padding: 5px;
            transition: 1s ease;

            &:hover {
              transform: rotateY(360deg);
              background-color: #fff;
            }
          }
        }
      }

      .data {
        font-family: $secondaryFont;
        font-weight: 500;
        font-size: 16px;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .dataIcon {
          margin-right: 10px;
        }
      }

      .titleText {
        color: #fff;
        opacity: .8;
        font-weight: 400;
        font-size: 15px;
        font-family: $secondaryFont;
      }

      .data {
        margin-bottom: 10px;
      }
    }

    .rightBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;

      .information {
        text-align: left;
        font-family: $secondaryFont;
        font-size: 16px;
        line-height: 32px;
      }

      .contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: 100%;

        .inputsWrapper {
          display: flex;
          gap: 40px;
          margin-bottom: 30px;
          width: 100%;

          @media (max-width: 1025px) {
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;
          }

          .inputContainer {
            width: 100%;
            position: relative;

            .inputsIcons {
              position: absolute;
              left: 15px;
              top: 14px;
            }
          }
        }

        .inputs {
          outline: none;
          background-color: #333;
          border: 1px solid #444;
          color: #fff;
          height: 46px;
          font-family: $secondaryFont;
          font-size: 16px;
          border-radius: 30px;
          line-height: 1.5;
          width: 100%;
          padding: 0.375px 35px;
        }

        .textAreaWrapper {
          width: 100%;
          position: relative;

          .textAreaIcon {
            position: absolute;
            top: 15px;
            left: 20px;
          }

          .textArea {
            border: 1px solid #444;
            outline: none;
            background-color: #333;
            color: #fff;
            font-family: $secondaryFont;
            font-size: 16px;
            border-radius: 30px;
            min-height: 210px;
            display: block;
            width: 100%;
            padding: 12px 25px 15px 49px;
            resize: vertical;
          }
        }


        .btnWrapper {
          display: flex;
          align-self: flex-end;

          @media (max-width: 1025px) {
            align-self: center;
          }

          .btn {
            display: flex;
            position: relative;
            height: 45px;
            border-radius: 50px;
            width: 215px;
            background-color: $secondaryTextColor;
            text-transform: uppercase;
            font-family: $primaryFont;
            font-size: 15px;
            line-height: 46px;
            font-weight: 500;
            letter-spacing: .5px;
            margin-top: 40px;
            transition: .3s ease;

            &:hover {
              background-color: gray;
            }

            .iconBtn {
              position: absolute;
              left: 35px;
            }

            .link {
              position: absolute;
              left: 20px;
              color: #fff;
              height: 100%;
              width: 100%;
            }
          }
        }

      }
    }
  }
}